<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="./../assets/style.css">
    <title>{{page.title}} - Maru's page</title>
  </head>
  
  <body>
    <div class='container'>
      <h1>Maru's page</h1>
      <hr>
      <dev class='menu_slot'>
        <a class='menu top_button' helf=''>トップ</a>
        <a class='menu top_button' helf=''>未定</a>
        <a class='menu top_button' helf=''>未定</a>
      <dev/>
    </div>
    <div class='container'>
      {{content}}
    </div>
  </body>
</html>
